<%- include("../common/header") -%>
<div align="center">
    A csapat létrehozása sikertelen!<br />
    <a href="#" onclick="window.history.back(); return false;">Vissza!</a>
</div>
<%- include("../common/footer") -%>