<%- include("../common/header") -%>
    <div align="center">
        A csapat sikeresen létrehozva!<br />
        <a href="/matches/">Vissza a meccsekhez!</a>
    </div>
<%- include("../common/footer") -%>