<%- include("../common/header") -%>
<div align="center">
    A csapat módosítása sikertelen!<br />
    <a href="/teams/index">Vissza a csapatok kezeléséhez!</a>
</div>
<%- include("../common/footer") -%>