<%- include("../common/header") -%>
    <div style="text-align: center;">
        Meccs sikeresen létrehozva!<br />
        <a href="/matches/">Vissza a meccsekhez!</a>
    </div>
<%- include("../common/footer") -%>