<%- include("../common/header") -%>
<div style="text-align: center;">
    Meccs módosítása sikertelen!<br />
    <a href="#" onclick="window.history.back(); return false;">Vissza!</a>
</div>
<%- include("../common/footer") -%>