<%- include("../common/header") -%>
<div class="jumbotron">
    <h1 class="text-danger">404 - a keresett oldal nem található</h1>
    <p align="center"><a class="btn btn-primary btn-lg" href="/matches/">Vissza a főoldalra</a></p>
</div>
<%- include("../common/footer") -%>